.btn01 {
  border: 1px solid #150a90;
  border-radius: 5px;
  background: #150a90;
  display: block;
  width: 180px;
  float: left;
  padding: 10px 5px;
  text-align: center;
  box-shadow: 1px 3px #ccc;
}

.btn01:hover {
  text-decoration: none;
}

.btn01 > p {
  color: #FFFFFF;
  font-size: 14px;
}

.btn02 {
  border: 1px solid #91bd16;
  border-radius: 5px;
  background: #91bd16;
  display: block;
  width: 180px;
  float: left;
  padding: 10px 5px;
  text-align: center;
  box-shadow: 1px 3px #ccc;
  margin-left: 10px;
}

.btn02:hover {
  text-decoration: none;
}

.btn02 > p {
  color: #FFFFFF;
  font-size: 14px;

}
