.drawer-hamburger-icon {
  margin-bottom: 12px !important;
  height: 4px !important;
}
.drawer-hamburger-icon::after,::before {
  height: 4px !important;
}
.drawer-hamburger {
  color: #3e3d3d;
  padding: 9px 7px 7px !important;
  position: absolute !important;
}
