@charset "UTF-8";

html {
    background-color: #FFFFFF;
}
nav {
    position: relative;
    clear: both;
}

body {

}

p {
    line-height: 2.1em;
}
strong {
  font-weight: bold;
}

.log {
	text-align: center;
    margin-top: 5px;
    margin-left: 5px;
}

.head-area {
    width: auto;
    height: 15px;
    background-color: #0268CC;
    font-size: 10px;
    color: #FFFFFF;
    padding-left: 10px;
}
@media all and (max-width : 960px) {
    .head-area {
        display: none;
    }
}

.display_none {
	display: none;
}

.pc_dispay {
    display: block;
}
@media all and (max-width : 960px) {
    .pc_dispay {
    display: none;
    }
}

.container {
    width: 90%;
    margin: 0 auto;
    font-size: 17px;
}

.txt_area {
    margin: 0 auto;
    width: 80%;
}
@media all and (max-width : 760px) {
    .txt_area {
        padding: 0 10px;
        width: 100%;
    }
}

/* パーツ
============================================================*/
.fl {
	float: left;
}
.ml_3 {
    margin-left: 3%;
}
.mr_3 {
    margin-right: 3%;
}
.pr_10 {
    padding-right: 10px;
}
.mt_10 {
    margin-top: 10px;
}
.mt_15 {
    margin-top: 15px;
}
.mt_30 {
    margin-top: 30px;
}
.mt_50 {
    margin-top: 50px;
}
.mb_5 {
    margin-bottom: 5px;
}
.mb_15 {
    margin-bottom: 15px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mb_30 {
    margin-bottom: 30px;
}
.mb_50 {
    margin-bottom: 50px;
}
.txt_C {
    text-align: center;
}
.txt_Red {
    color: red;
}
.font_B {
    font-weight: bold;
}
.clear_B {
    clear: both;
}
.fs_14 {
    font-size: 14px;
}

@media all and (max-width : 760px) {
    .sp_14 {
        font-size: 14px;
    }
}

/* END パーツ
============================================================*/

/* icon */



/* グローバルナビ
============================================================*/
#nav span {
    display: none;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: #ffffff;
    /*border-bottom: 5px solid #00ced1;*/
    border-bottom: 5px solid #00ced1;
    margin-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
}
#nav ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #4D4D4D;
    display: none;
    left: 0;
    padding: 2%;
    position: absolute;
    /*top: 54px;*/
    width: 96%;
    z-index: 1;
}
#nav > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    width: 18%;
    /*border-left: 1px solid #EFA39D; */
    font-size: 13px;
}

#nav li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 400ms ease-in-out 0s;
    -ms-transition: color 400ms ease-in-out 0s;
    -o-transition: color 400ms ease-in-out 0s;
    -webkit-transition: color 400ms ease-in-out 0s;
    transition: color 400ms ease-in-out 0s;
    white-space: normal;
}
#nav > li > a {
    color: #4D4D4D;
    display: block;
    font-size: 16px;
    line-height: 49px;
    /*padding: 0 15px;*/
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
#nav > li:hover > a, #nav > a:hover {
    /*background-color: #F55856;*/
    color: #87cefa;
}
#nav li.active > a {
    background-color: #333333;
    color: #FFFFFF;
}
/* submenu */
#nav li:hover ul.subs {
    display: block;
}
#nav ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 30%;
}
#nav ul.subs > li a {
    color: #777777;
    line-height: 20px;
    margin-top: 5px;
}
#nav ul li a:hover {
    color: #F55856;
}
#nav ul.subs > li > a {
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#nav ul.subs > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#nav ul.subs > li li a {
    font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: 0.1em;
}
#nav ul.subs > li li:hover {
    padding-left: 15px;
}
/* responsive rules */
@media all and (max-width : 960px) {
    #nav {
        padding-left: 0;
        padding-right: 0;
        border-top-color: #00ced1;
    }
    #nav > .pr-border {
    border-right: 1px solid #999999;
    }
    #nav > li {
        float: left;
        border-bottom: 0;
        margin-bottom: 0;
        width: 49%;
        border: 1px solid #999999;
        margin-right: 0;
        margin-left: 0;
    }
    #nav ul.subs {
        position: relative;
        top: 0;
    }
    #nav li:hover ul.subs {
        display: none;
    }
    #nav li #s1:target + ul.subs,
    #nav li #s2:target + ul.subs,
    #nav li #s3:target + ul.subs,
    #nav li #s4:target + ul.subs,
    #nav li #s5:target + ul.subs,
    #nav li #s6:target + ul.subs, {
        display: none;
    }

    #nav ul.subs > li {
        display: none;
        width: auto;
    }

    #nav ul.subs > li > a  {
        font-size: 1.7em;
    }

    #nav ul.subs > li li a {
        font-size:1.2em;
        line-height: 2.0em;
    }
}

#global {
    display: none;
}
@media all and (max-width : 960px) {
    #global {
        display: block;
        width: 100%;
        height: 50px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        font-size: 30px;
        background-color: #1E67C3;
        padding-top: 5px;
    }
    .menu-waku {
        border-radius: 5px;
        border: 2px solid #444444;
        padding: 4px;
    }
    #nav {
        display: none;
    }
    .subs {
      display: none;
    }
}


.nav_icon {
    height: 30px;
    margin-left: -15px;
    margin-right: 10px;
    margin-bottom: -10px;
}


/* END グローバルナビ
=====================================================*/

/* ユーザーログイン
=====================================================*/
#user_rogin {
    float: right;
}
#user_rogin > li {
    float: left;
    width: 90px;
}
#user_rogin > li a {
    font-size: 11px;
    text-align: center;
    display: block;
}
.header-icon {
    height: 23px;
    margin-top: 5px;
    text-align: center;
}
.login {
    margin-top: 50px;
    border: 1px solid #F2720C;
    border-radius: 4px;
    padding: 10px;
    background-color: #F2720C;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

/* end ユーザーログイン */


/* h1  */
h1,.h1size {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    clear: both;
    font-weight: bold;
}
h1 {
    padding: 10px;
    border-bottom: 2px solid #1e90ff;
}


@media all and (max-width : 760px) {
    h1,.h1size {
    font-size: 18px;
    padding: 5px;
    }
}

/* h2  */
h2 {
    font-size: 25px;
    text-align: center;
    clear: both;
    border-bottom: 2px solid #1e90ff;
    padding: 10px;
}

/* img */
.main-img {
    /*text-align: center;*/
    width: 1000px;
    margin: 0 auto;
}
@media all and (max-width : 760px) {
    .main-img {
        width : 100%;
    }
}

.main-img-left {
  float: left;
  width: 60%;
}
@media all and (max-width : 760px) {
    .main-img-left {
        width: 100%;
    }
}

.main-img-right {
    width: 40%;

}
@media all and (max-width : 760px) {
    .main-img-right {
    display: none;
    }
}

/* contact */
.contact-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.contact-container > a {
}
.contact-container > a > img {
    width: 300px;
    border-radius: 5px;
}
.attention {
    background-color: #778899;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 15px;
    margin-bottom: 50px;
}
@media all and (max-width : 760px) {
    .contact-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.contact-container > a > img {
    width: 80%;
}
}

.contact-button {
    width: 280px;
    height: 38px;
    text-align: center;
    font-size: 14px;
    margin: 50px auto;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-color: #4169e1;
}
.contact-button:hover {
    border-color: #daa520;
    background-color: #778899;
}
.contact-button a {
    padding-top: 10px;
    color: #FFFFFF;
    display: block;
    width: 280px;
    height: 28px;
    border-radius: 10px;
    text-decoration: none;
}


/* lineup */
.lineup {
    text-align: center;
    width: 760px;
    padding-top: 30px;
    margin: 0 auto;
}
.lineup-list {
    float: left;
    width: 370px;
    height: 150px;
}
.lineup-list a {
    display: block;
    width: 100%;
    height: 100%;
}
.lineup-list:hover {
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0.5;
}

@media all and (max-width : 760px) {
    .lineup {
        width: auto;
    }
    .lineup-list {
    width: auto;
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 100px;
    }
}



/* リスト  */

.defaultlist
,.defaultlist li{
    padding:0px;
    padding-right: 10px;
    margin-top:5px;
}

.defaultlist li{
    list-style-type:none !important;
    list-style-image:none !important;
    margin: 13px 0px 5px 0px !important;
}

.list1 li{
    position:relative;
    padding-left:20px;
    font-weight: bold;
}

.list1 li:before{
    content:'';
    display:block;
    position:absolute;
    box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset;
    top:6px;
    left:2px;
    height:0;
    width:0;
    border-top: 6px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 9px solid #aaa;
}



/* footer */
footer {
  background: #011a4c;
  height: 400px;
  color: #53cef7;
}
.footer {
    margin-top: 50px;
    width: 100%;
    height: 150px;
    background-size: 100% 100%;
    background-image: url("../img/footer.jpg");
    margin-bottom: 10px;
}
.footer > p {
    color: #FFFFFF;
    text-align: center;
    padding-top: 70px;
}

.footer_list {
    margin-top: 50px;
}
.footer_list ul {
    text-align: center;
    padding: 0 10%;
    margin: 0 auto;
    width: 900px;
}
.footer_list ul li {
    float: left;
    margin-left: 8%;
}
.footer_list ul > li > a {
    color: #FFFFFF;
}
.footer_list > p {
  padding-top: 50px;
}
@media all and (max-width : 760px) {
    .footer_list ul {
      width: 100%;
    }
    .footer_list ul li {
    width: 40%;
    margin-left: 0;
}
}
