@charset "UTF-8";

.topvisual {
  text-align: center;
}

.topvisual__img {
  width: 100%;
}

.topvisual__paragraf {
  position: absolute;
  width: 100%;
  top: 350px;
  margin: auto;
  color: #fff;
}
.topvisual__paragraf > h1 {
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  text-shadow: 1px 1px 10px #333333;
  border-bottom: none;
}
.topvisual__paragraf > p {
  margin: auto;
  text-align: center;
  font-size: 16px;
  text-shadow: 1px 1px 10px #333333;
}
@media all and (max-width : 760px) {
  .topvisual__paragraf > h1 {
    font-size: 14px;
    top: -230px;
    position: absolute;
  }
}
