@charset "UTF-8";

html {
    background-color: #FFFFFF;
}
nav {
    position: relative;
    clear: both;
}
.log {
	float : left;
    margin-top: 10px;
    margin-left: 5px;
}

.head-area {
    width: auto;
    height: 15px;
    background-color: #0268CC;
    font-size: 10px;
    color: #FFFFFF;
    padding-left: 10px;
}
@media all and (max-width : 960px) {
    .head-area {
        display: none;
    }
}

.display_none {
	display: none;
}

.container {
    width: 90%;
}

/* パーツ
============================================================*/
.fl {
	float: left;
}
.ml_3 {
    margin-left: 3%;
}
.mr_3 {
    margin-right: 3%;
}
.mt_15 {
    margin-top: 15px;
}
.mt_30 {
    margin-top: 30px;
}

/* END パーツ
============================================================*/

/* icon */



/* グローバルナビ
============================================================*/
#nav span {
    display: none;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: #ffffff;
    /*border-bottom: 5px solid #00ced1;*/
    border-top: 3px solid #00ced1;
    border-bottom: 3px solid #00ced1;
    float: left;
    width: 100%;
}
#nav ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #4D4D4D;
    display: none;
    left: 0;
    padding: 2%;
    position: absolute;
    /*top: 54px;*/
    width: 96%;
    z-index: 1;
}
#nav > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    width: 18%;
    /*border-left: 1px solid #EFA39D; */
    border-left: 1px solid #EFA39D;
    font-size: 13px;
}
#nav > .pr-border {
    border-right: 1px solid #EFA39D;
}
#nav li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
#nav > li > a {
    color: #4D4D4D;
    display: block;
    font-size: 16px;
    line-height: 49px;
    /*padding: 0 15px;*/
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
#nav > li:hover > a, #nav > a:hover {
    background-color: #F55856;
    color: #FFFFFF;
}
#nav li.active > a {
    background-color: #333333;
    color: #FFFFFF;
}
/* submenu */
#nav li:hover ul.subs {
    display: block;
}
#nav ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 20%;
}
#nav ul.subs > li a {
    color: #777777;
    line-height: 20px;
}
#nav ul li a:hover {
    color: #F55856;
}
#nav ul.subs > li > a {
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#nav ul.subs > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#nav ul.subs > li li a {
    font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: 0.1em;
}
#nav ul.subs > li li:hover {
    padding-left: 15px;
}
/* responsive rules */
@media all and (max-width : 960px) {
    #nav {
        padding-left: 0;
        padding-right: 0;
        border-top-color: #00ced1;
    }
    #nav > .pr-border {
    border-right: 1px solid #999999;
    }
    #nav > li {
        float: left;
        border-bottom: 0;
        margin-bottom: 0;
        width: 49.6%;
        border: 1px solid #999999;
        margin-right: 0;
        margin-left: 0;
    }
    #nav ul.subs {
        position: relative;
        top: 0;
    }
    #nav li:hover ul.subs {
        display: none;
    }
    #nav li #s1:target + ul.subs,
    #nav li #s2:target + ul.subs,
    #nav li #s3:target + ul.subs,
    #nav li #s4:target + ul.subs,
    #nav li #s5:target + ul.subs,
    #nav li #s6:target + ul.subs, {
        display: block;
    }

    #nav ul.subs > li {
        display: block;
        width: auto;
    }

    #nav ul.subs > li > a  {
        font-size: 1.7em;
    }

    #nav ul.subs > li li a {
        font-size:1.2em;
        line-height: 2.0em;
    }
}

#global {
    display: none;
}
@media all and (max-width : 960px) {
    #global {
        display: block;
        width: 100%;
        height: 50px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        font-size: 30px;
        background-color: #1E67C3;
        padding-top: 5px;
    }
    .menu-waku {
        border-radius: 5px;
        border: 2px solid #444444;
        padding: 4px;
    }
    #nav {
        display: none;
    }
}
.nav_icon {
    height: 20px;
    margin-right: 10px;
}

/* END グローバルナビ
=====================================================*/

/* ユーザーログイン
=====================================================*/
#user_rogin {
    float: right;
}
#user_rogin > li {
    float: left;
    width: 90px;
}
#user_rogin > li a {
    font-size: 11px;
    text-align: center;
    display: block;
}
.header-icon {
    height: 23px;
    margin-top: 5px;
    text-align: center;
}
.login {
    margin-top: 50px;
    border: 1px solid #F2720C;
    border-radius: 4px;
    padding: 10px;
    background-color: #F2720C;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

/* end ユーザーログイン */


/* h1  */
h1 {
    font-size: 30px;
    text-align: center;
    clear: both;
}


/* img */
.main-img {
    text-align: center;
}
@media all and (max-width : 960px) {
    .main-img {
        width : auto;
    }
}