/* smafo-intro.css */
@charset "utf-8";

html {
	height: 100%
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 17%, rgba(225,225,225,1) 55%, rgba(211,211,211,1) 88%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(17%,rgba(241,241,241,1)), color-stop(55%,rgba(225,225,225,1)), color-stop(88%,rgba(211,211,211,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 17%,rgba(225,225,225,1) 55%,rgba(211,211,211,1) 88%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 17%,rgba(225,225,225,1) 55%,rgba(211,211,211,1) 88%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 17%,rgba(225,225,225,1) 55%,rgba(211,211,211,1) 88%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 17%,rgba(225,225,225,1) 55%,rgba(211,211,211,1) 88%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

body {
	height: 100%;
	font-size: 14px;
	font-family: Arial;
	color:#1a1718;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 17%, rgba(225,225,225,1) 55%, rgba(211,211,211,1) 88%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(17%,rgba(241,241,241,1)), color-stop(55%,rgba(225,225,225,1)), color-stop(88%,rgba(211,211,211,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 17%,rgba(225,225,225,1) 55%,rgba(211,211,211,1) 88%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 17%,rgba(225,225,225,1) 55%,rgba(211,211,211,1) 88%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 17%,rgba(225,225,225,1) 55%,rgba(211,211,211,1) 88%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 17%,rgba(225,225,225,1) 55%,rgba(211,211,211,1) 88%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body > #container {
	height: auto;
}

#container {
	min-height: 100%;
	height: 100%;
	width: 990px;
	margin: 0 auto;
}

#header {
background: rgb(255,171,68); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(255,171,68,1) 4%, rgba(255,227,145,1) 17%, rgba(255,204,238,1) 27%, rgba(255,81,191,1) 46%, rgba(255,204,238,1) 67%, rgba(255,227,145,1) 79%, rgba(255,239,249,1) 90%, rgba(255,222,114,1) 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(4%,rgba(255,171,68,1)), color-stop(17%,rgba(255,227,145,1)), color-stop(27%,rgba(255,204,238,1)), color-stop(46%,rgba(255,81,191,1)), color-stop(67%,rgba(255,204,238,1)), color-stop(79%,rgba(255,227,145,1)), color-stop(90%,rgba(255,239,249,1)), color-stop(98%,rgba(255,222,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(255,171,68,1) 4%,rgba(255,227,145,1) 17%,rgba(255,204,238,1) 27%,rgba(255,81,191,1) 46%,rgba(255,204,238,1) 67%,rgba(255,227,145,1) 79%,rgba(255,239,249,1) 90%,rgba(255,222,114,1) 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(255,171,68,1) 4%,rgba(255,227,145,1) 17%,rgba(255,204,238,1) 27%,rgba(255,81,191,1) 46%,rgba(255,204,238,1) 67%,rgba(255,227,145,1) 79%,rgba(255,239,249,1) 90%,rgba(255,222,114,1) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(255,171,68,1) 4%,rgba(255,227,145,1) 17%,rgba(255,204,238,1) 27%,rgba(255,81,191,1) 46%,rgba(255,204,238,1) 67%,rgba(255,227,145,1) 79%,rgba(255,239,249,1) 90%,rgba(255,222,114,1) 98%); /* IE10+ */
background: linear-gradient(45deg,  rgba(255,171,68,1) 4%,rgba(255,227,145,1) 17%,rgba(255,204,238,1) 27%,rgba(255,81,191,1) 46%,rgba(255,204,238,1) 67%,rgba(255,227,145,1) 79%,rgba(255,239,249,1) 90%,rgba(255,222,114,1) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab44', endColorstr='#ffde72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	border-radius: 10px;
	box-shadow: 0 0 5px 3px rgba(0,0,0,0.5);
}

#menu {
	margin-bottom: 15px;
	overflow: hidden;
}

#main {
	overflow: hidden;
	margin-bottom: 15px;
}

#contents {
	/*border-top: 5px solid #666633;*/
	float: left;
	width: 630px;
	background-color: #FBF9F2;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
	padding: 20px;
	border-radius: 10px;
	margin: 6px;
}

#sidebar {
	display: ;
	float: right;
	width: 300px;
	background-color:  #FBF9F2;
	border-radius: 10px;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
	margin-right:3px;
	margin-top: 6px;
}

#footer {
	font-size: 12px;
	color: #ccc;
	text-align: center;
	border-top: 1px solid #ccc;
	padding: 10px 0 20px;
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(30,87,153,1) 0%, rgba(28,91,178,1) 9%, rgba(32,124,202,1) 35%, rgba(15,35,96,1) 70%, rgba(0,5,79,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(30,87,153,1)), color-stop(9%,rgba(28,91,178,1)), color-stop(35%,rgba(32,124,202,1)), color-stop(70%,rgba(15,35,96,1)), color-stop(100%,rgba(0,5,79,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(28,91,178,1) 9%,rgba(32,124,202,1) 35%,rgba(15,35,96,1) 70%,rgba(0,5,79,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(28,91,178,1) 9%,rgba(32,124,202,1) 35%,rgba(15,35,96,1) 70%,rgba(0,5,79,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(28,91,178,1) 9%,rgba(32,124,202,1) 35%,rgba(15,35,96,1) 70%,rgba(0,5,79,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(28,91,178,1) 9%,rgba(32,124,202,1) 35%,rgba(15,35,96,1) 70%,rgba(0,5,79,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#00054f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	border-radius: 10px;
}

#menu ul>li {
	float: left;
	width:120px;
	font-size: 20px;
	text-align: center;
	padding: 4px;
background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(252,252,252,1) 1%, rgba(252,252,252,1) 14%, rgba(238,238,238,1) 23%, rgba(252,252,252,1) 35%, rgba(214,214,214,1) 46%, rgba(238,238,238,1) 63%, rgba(174,180,183,0.99) 84%, rgba(198,204,209,0.99) 92%, rgba(198,204,209,0.99) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(1%,rgba(252,252,252,1)), color-stop(14%,rgba(252,252,252,1)), color-stop(23%,rgba(238,238,238,1)), color-stop(35%,rgba(252,252,252,1)), color-stop(46%,rgba(214,214,214,1)), color-stop(63%,rgba(238,238,238,1)), color-stop(84%,rgba(174,180,183,0.99)), color-stop(92%,rgba(198,204,209,0.99)), color-stop(100%,rgba(198,204,209,0.99))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fcc6ccd1',GradientType=0 ); /* IE6-9 */

/*background: #ffae1a/*#FFCF66*/;
	margin-right: 1px;
	border-radius: 4px;
}

#menu ul>li:hover {
	background: #19e3c5;
}

#menu ul>li>a {
	text-decoration: none;
	display: block;
	color: #ffffff;
	font-weight: bold;
	text-shadow: #333333 1px 1px 1px;
}

h1 {
	font-size: 25px;
	color: #666600;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}


h2, h3 {
	font-weight: bold;
}

h2 {
	font-size: 20px;
	/*border-left: 5px solid #fdc773;*/
	border-bottom: 1px solid #ccc;
	padding: 3px 0 3px 10px;
	margin-bottom: 30px;
	margin-top: 60px;
}

h3 {
	border-bottom: 1px solid #ccc;
	padding: 3px 0;
	margin-bottom: 10px;
}

p {
	line-height: 2em;
	margin-bottom: 14px;
	font-size: 16px;
	margin-left: 15px;
}

#topname {

	/*background: /*#FF8000*//*#969696*//*#222222;*/
	color:  /*#b39700*//*#FFB511*/#4d5557/*#707070*//*#131313*/;
	font-size: 30px;
	text-align: left;
	padding-left:20px;
	text-shadow: #fff 1px 1px 0.5px;
}
#topname a {
	color:#4d5557;
}

a {
	text-decoration: none;
}

.pagetop {
	text-align: center;
}


#smafo-img {
	max-height: 200px;
	padding: 20px;
}

#good {
	color: #e31937;
	font-size: 16px;
	font-weight: bold;
}

#karakuti {
	font-size: 20px;
	color: red;
	font-weight: bold;
}

#facebookbutton {
	float: right;
}

#product {
	float : left;
	margin-bottom: 20px;
}

#image-resize {
	height: 100px;
}


#rightad {
	margin-left:15px;

}


#sidecoment {
	font-size: 15px;
}

#syousetu li  {
	width: 100%;
	font-size: 16px;
background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(252,252,252,1) 1%, rgba(252,252,252,1) 14%, rgba(238,238,238,1) 23%, rgba(252,252,252,1) 35%, rgba(214,214,214,1) 46%, rgba(238,238,238,1) 63%, rgba(174,180,183,0.99) 84%, rgba(198,204,209,0.99) 92%, rgba(198,204,209,0.99) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(1%,rgba(252,252,252,1)), color-stop(14%,rgba(252,252,252,1)), color-stop(23%,rgba(238,238,238,1)), color-stop(35%,rgba(252,252,252,1)), color-stop(46%,rgba(214,214,214,1)), color-stop(63%,rgba(238,238,238,1)), color-stop(84%,rgba(174,180,183,0.99)), color-stop(92%,rgba(198,204,209,0.99)), color-stop(100%,rgba(198,204,209,0.99))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fcc6ccd1',GradientType=0 ); /* IE6-9 */


	margin-bottom: 15px;
	line-height: 1.5em;
	clear: both;
	border-radius: 20px;	
}

#syousetu li a:hover {
	color: #199ce3;

}

#syousetu li a {
	display: block;
	color: #999999;
	font-weight: bold;
	margin-left: 15px;
	padding-left: 15px;
	text-indent: -15px;
	text-shadow: #fff 1px 1px 1px;
}



.kijiimg {
	max-height:300px;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
}

.faceimg {
	max-height:200px;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
}

#sidenew {
	float: right;
	width: 300px;
	background-color:  #FBF9F2;
	border-radius: 10px;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
	margin-right:3px;
	margin-top: 10px;
}

#sidenew iframe {
	border: none;
	background-color:  #FBF9F2;
	width:300px;
	border-radius: 10px;
	height: 500px;
}

#contentsiframe {
	border: none;
	background-color:  #FBF9F2;
	width: 100%;
	height: 350px;
}

#contents ul {
/*	list-style-type: disc;
	list-style-position: outside;
	margin-left: 2em;
	line-height: 1.5em;
	margin-right: 1em;*/
}

#smartmovie {
	display:none;
}

#sidead {
	float: right;
	width: 300px;
	background-color: #FBF9F2;
	border-radius: 10px;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
	margin-top: 10px;
}

#sidead iframe {
	border: none;
	background-color:  #FBF9F2;
	width:300px;
	border-radius: 10px;
	height: 2800px;

}

#topimg {
	display: none;
}