@ charset "utf-8";

body {
	background-color:   transparent;
}

p {
	margin-left: 15px;
	line-height: 1.5em;

}

a{
		text-decoration: none;
}

ul li {
	width: 100%;
background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(252,252,252,1) 1%, rgba(252,252,252,1) 14%, rgba(238,238,238,1) 23%, rgba(252,252,252,1) 35%, rgba(214,214,214,1) 46%, rgba(238,238,238,1) 63%, rgba(174,180,183,0.99) 84%, rgba(198,204,209,0.99) 92%, rgba(198,204,209,0.99) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(1%,rgba(252,252,252,1)), color-stop(14%,rgba(252,252,252,1)), color-stop(23%,rgba(238,238,238,1)), color-stop(35%,rgba(252,252,252,1)), color-stop(46%,rgba(214,214,214,1)), color-stop(63%,rgba(238,238,238,1)), color-stop(84%,rgba(174,180,183,0.99)), color-stop(92%,rgba(198,204,209,0.99)), color-stop(100%,rgba(198,204,209,0.99))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 1%,rgba(252,252,252,1) 14%,rgba(238,238,238,1) 23%,rgba(252,252,252,1) 35%,rgba(214,214,214,1) 46%,rgba(238,238,238,1) 63%,rgba(174,180,183,0.99) 84%,rgba(198,204,209,0.99) 92%,rgba(198,204,209,0.99) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fcc6ccd1',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	list-style-type: none;
	margin-bottom: 20px;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);	
}

ul li a:hover {
	color: #199ce3;

}

ul li a {
	color: #999999;
	display: block;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
	text-shadow: #fff 1px 1px 1px;
}

#product {
	float: left;
}

#image-resize {
	width: 200px;
}
